@import "tailwindcss";

@theme {
  --color-primary-50: #fdf8f6;
  --color-primary-100: #f2e8e5;
  --color-primary-200: #eaddd7;
  --color-primary-300: #e0cec7;
  --color-primary-400: #d2bab0;
  --color-primary-500: #a18072;
  --color-primary-600: #8a6a5c;
  --color-primary-700: #725548;
  --color-primary-800: #5d453b;
  --color-primary-900: #4a372f;

  --color-secondary: #2c3e50;

  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
}

@layer base {
  body {
    @apply bg-primary-50 text-gray-800 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-gray-900;
  }
}